/************ Global **************/
*{margin: 0;}

body{
    /* background-color: #3c3131; */
    background-color: #f3f3f3;
}
p{font-size: 17px;}

/************ TABELA **********/
table {
    border-collapse: collapse;
    width: 100%;
}
table, td, th {
border: 1px solid #ccc;
}
th{
    background-color: #31313a;
    color: #fff;
}
th, td {
    padding: 7px;
    text-align: left;
}
tr:nth-child(even) {background-color: #cecece;}
tr:hover {background-color: #c1c2cc;}

/************* Navbar ************/
.navbar{
    background-color: #692323;
    text-align: right;
    padding-right: 64px;
}
.navbar .navtitle{
    float: left;
    margin-left: 48px;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 1px 1px 0px #150b0b;
}
.navbar .navtitle:hover{
    border: none!important;
}
.navbar a{
    padding: 11px 16px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    /* font-weight: 900; */
    border-bottom: 2px solid transparent;
}
.navbar a:hover{
    border-bottom: 2px solid #421a1a;
}

/*********** Painel **************/
.painel{
    background: #f9f9f9;
    width: 80%;
    margin: auto;
    margin-top: 45px;
    border-radius: 4px;
    padding: 10px 40px;
    /* border: 1px solid #dedede; */
    box-shadow: 0px 1px 2px 1px #e0e0e063;
}
.painel .title{
    color: #3a3838;
    font-family: sans-serif;
    font-weight: 100;
    display: inline-block;
    box-shadow: 0 19px 0 -13px #652727;
    margin-bottom: 30px;
}

.htitle{
    color: #3a3838;
    font-family: sans-serif;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 10px;
}
.painel-small{
    width: 45%!important;
    min-width: 400px;
}

/********* Formulário ***********/
input[type='text'], input[type='email'], input[type='password'], select{
    width: 400px;
    padding: 6px 9px;
    font-size: 16px;
    /* border: 1px solid #692323; */
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #692323;
}
input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, select:focus{
    /* box-shadow: 0px 0px 2px #692323; */
    outline: none!important;
    border: 1px solid #692323;
}
select{
    background: #fff;
    width: 421px;
}
label{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    width: 120px;
    display: inline-block;
    text-align: right;
}
.btn{
    display: inline-block;
    background: #692323;
    border: 1px solid #692323;
    border-radius: 2px;
    padding: 7px 18px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.btn:hover{cursor: pointer;}
#btn{
    width: 546px;
    text-align: right;
}
.icon{width:13px;}

/** ALERTA MSG */
.alert{
    color: #01569e;
    background: #3f70ad26;
    border: 1px solid #026ac3;
    font-family: sans-serif;
    padding: 10px 15px;
    display: inline-flex;
    margin: 15px 10px;
}
.alert-error{
    color: #e01313;
    background: #fbbebe5e;
    border: 1px solid red;
}
.alert-success {
    color: #135627;
    background: #bffbbe5e;
    border: 1px solid #096f32;
}

/** PERFIL **/
.left-perfil{
    width: 20%;
    text-align: center;
    float: left;
}
.perfil-right{
    width: 75%;
    display: inline-block;
    height: auto;
    margin-left: 3%;
}
.img-perfil{
    border-radius: 50%;
    height: 125px;
}
.img-book{
    height: 125px;
}